*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  /* outline: 2px solid blue; */
}

#root {
  height: 100vh;
  width: 100vw;
  position: relative;
  container-type: size;
  user-select: none;
}

.box {
  border-radius: 12px;
  background-color: rgb(182, 135, 73);
  border: 4px solid rgb(102, 77, 54);
  color: rgb(51, 30, 4);
  padding: 4px;
}

.boxSecond {
  border-radius: 12px;
  background-color: rgb(199, 173, 142);
  border: 4px solid rgb(102, 77, 54);
  color: rgb(51, 30, 4);
  padding: 4px;
}

.button:hover{
  background-color: rgb(255, 255, 255);
  border-color: black;
}